.toggle-container {
  height: 15px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-container:hover {
  cursor: pointer;
}

.toggle-button-enable:hover {
  cursor: pointer;
}

.toggle-button-disable:hover {
  cursor: pointer;
}

.toggle-button-disable {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  border: 0px;
}

.toggle-button-enable {
  height: 22px;
  width: 22px;
  border: 0px;
  border-radius: 11px;
}
